@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}
h1 {
  font-family: "Orbitron", sans-serif;
}
